appdirs==1.4.3
attrs==19.3.0
black==24.3.0
Click==7.0
entrypoints==0.3
flake8==3.7.9
mccabe==0.6.1
more-itertools==8.0.0
packaging==19.2
pathspec==0.6.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.5
pytest==5.3.1
regex==2019.11.1
six==1.13.0
toml==0.10.0
typed-ast==1.4.0
wcwidth==0.1.7
